{% extends 'layouts/base.html' %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Create Course</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="assets/vendors/mdi/css/materialdesignicons.min.css"> 
    <link rel="stylesheet" href="assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="assets/css/styleinstructor.css">
    <!-- End layout styles -->
  </head>

  {% load widget_tweaks %}
  {% block content %}
  <body>
    <div class="container-scroller">
      
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'accounts:instructor-course' %}">
                <span class="menu-title">Dashboard</span>
                <i class="mdi mdi-home menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'accounts:add-course' %}">
                <span class="menu-title">Create Course</span>
                <i class="mdi mdi-format-list-bulleted menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'accounts:your-courses' %}">
                <span class="menu-title">Your Courses</span>
                <i class="mdi mdi-contacts menu-icon"></i>
              </a>
            </li>
          </ul>
        </nav>
        <!-- partial -->
       
            <div class="main-panel">
          <div class="content-wrapper">
             <div class="page-header">
              
            </div>
              <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                  
                  <h1 class="pb-4">Create course</h1>
  <form method="post" novalidate>
    {% csrf_token %} {% for field in form.visible_fields %}

    <div class="form-group">
      <label for="id_{{ field.name }}">{{ field.label }}</label>
      {{field|add_class:'form-control'}} {% for error in field.errors %}
      <span class="help-block">{{error}}</span>
      {% endfor %}
    </div>
    {% endfor %}

    <div class="form-group pt-2">
      <button type="submit" class=" btn border border-secondary">
        <span class="glyphicon glyphicon-ok"> </span> Create Course
      </button>
    </div>
  </form>


                  <div>                     
                </div>
              </div>
             
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../../assets/js/off-canvas.js"></script>
    <script src="../../assets/js/hoverable-collapse.js"></script>
    <script src="../../assets/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="../../assets/js/file-upload.js"></script>
    <!-- End custom js for this page -->
  </body>

  {% endblock content %}
  
</html>