{% extends 'layouts/base.html' %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Course Management</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End Plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../../assets/css/style.css">
    <!-- End layout styles -->
  </head>

  {% load widget_tweaks %}
  {% block content %}


  <body>
    <div class=" container-scroller">
      <!-- partial:../../partials/_navbar.html -->
      <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button>
          
         
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
          </button>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item nav-profile">
              <a href="#" class="nav-link">
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'accounts:instructor-course' %}">
                <span class="menu-title">Dashboard</span>
                <i class="mdi mdi-home menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'accounts:add-course' %}">
                <span class="menu-title">Create Course</span>
                <i class="mdi mdi-format-list-bulleted menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'accounts:your-courses' %}">
                <span class="menu-title">Your Courses</span>
                <i class="mdi mdi-contacts menu-icon"></i>
              </a>
            </li>
            
            
           
           
          </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
        
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title">Existing Course</h3>
             
            </div>

              <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Course List</h4>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                        <tr>
                            <th> S.NO </th>
                            <th> Course Title </th>
                            <th> Course Category</th>
                            <th> Number of Lessons </th>
                            <th> Number of Enrolled students </th>
                            <th> Price </th>
                            <th> Actions </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              1
                            </td>
                            <td> Django Basics </td>
                            <td>
                              Software Development
                            </td>
                            <td> 4 </td>
                            <td> 10 </td>
                            <td> 200 </td>
                            <td> 
                             <div class="dropdown">
                               <button class="btn btn-sm btn-outline-primary btn-rounded btn-icon " type="button" id="dropdownMenuButton" 
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               <i class="mdi mdi-dots-vertical"></i>
                               </button>
                               <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Edit Course Details</a>
                                <a class="dropdown-item" href="#">Delete Course</a>
                                <a class="dropdown-item" href="{% url 'accounts:add-lesson' %}">Lessons</a>
                                <a class="dropdown-item" href="#">Preview as students</a>
                               </div>
                              </div>
                            <tr>
                            <td>2
                            </td>
                            <td> Data Structure</td>
                            <td>Software Development</td>
                            <td>4
                            </td>
                            <td>15
                            </td>
                            <td>30
                            </td>
                            <td><div class="dropdown">
                               <button class="btn btn-sm btn-outline-primary btn-rounded btn-icon " type="button" id="dropdownMenuButton" 
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               <i class="mdi mdi-dots-vertical"></i>
                               </button>
                               <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Edit Course Details</a>
                                <a class="dropdown-item" href="#">Delete Course</a>
                                <a class="dropdown-item" href="#">Lessons</a>
                                <a class="dropdown-item" href="#">Preview as students</a>
                               </div>
                              </div>
                            </td>

                     </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
          </div>
          <!-- partial:../../partials/_footer.html -->
         
          <!-- partial -->
        </div>
      </div>
    </div>
    <!-- plugins:js -->
    <script src="../../assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../../assets/js/off-canvas.js"></script>
    <script src="../../assets/js/hoverable-collapse.js"></script>
    <script src="../../assets/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <!-- End custom js for this page -->
  </body>
  {% endblock content %}
</html>